<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
	<typeAliases>
		<typeAlias alias="User" type="com.admaster.dmp.domain.oauth2.User"/>
        <typeAlias alias="Privilege" type="com.admaster.dmp.enums.Privilege"/>
        <typeAlias alias="OauthClientDetails" type="com.admaster.dmp.domain.oauth2.OauthClientDetails"/>
	
		<typeAlias type="com.admaster.dmp.domain.platform.Audience" alias="Audience" />
		<typeAlias type="com.admaster.dmp.domain.platform.TenantUser" alias="TenantUser" />
		<typeAlias type="com.admaster.dmp.domain.platform.Role" alias="Role" />
		<typeAlias type="com.admaster.dmp.domain.platform.UserRole" alias="UserRole" />
 	</typeAliases>
</configuration>